<p id="notice"><%= notice %></p>
<h1>Customers</h1>
<table id="customers-datatable" data-source="<%= customers_path(format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>City</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<br>
<%= link_to 'New Customer', new_customer_path %>

